:root{
    --VanillaCream: #F6E0AE;
    --GoldenMarigold: #FFB312;
    --SeafoamMint: #85cfb4;
    --VibrantFuchsia: #ed186b;
    --DeepIndigo: #2C3E50;
    --TerracottaClay:#D35400;
    --TurquoiseGem: #1ABC9C;
    --DustyRose:#F1948A;
    --MidnightPlum:#5B2C6F;
    --AntiqueParchment:#FDFEFE;

    
}